.cadastro{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    gap: 15px;

    width: 100%;
    height: 150px;
}


.text8{
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    color: #D5C3E4;
    text-decoration: underline;
}


.text10{
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    color: #D5C3E4;
}