.entrar-spotify{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;

    background-color: white;
    border-radius: 10px;
    width: 324px;
    height: 61px;
    padding-inline: 10px;
}

.text4{
    color: #8a65df;
    font-weight: 800;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 1px;
    font-size: 20px;
}


.img4{
    height: 40px;
    width: 40px;
}