.entrar-google{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;

    background-color: white;
    border-radius: 10px;
    width: 324px;
    height: 61px;
    padding-inline: 10px;
}

.text4{
    color: #9971f5;
    font-weight: 600;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 24px;
}


.img4{
    height: 30px;
    width: 30px;
}