.input-entrar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    background-color: #5C0AA3;
    border-radius: 10px;
    width: 324px;
    height: 61px;
    padding-inline: 10px;
}

.text3{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    color: #caccff;
}