.input-entrar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    background-color: #6617ac;
    border-radius: 10px;
    width: 324px;
    height: 61px;
    padding-inline: 10px;
}

.text3{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 32px;
    color: #DCDDF9;
    font-weight: 600;
}